# Dependencies
node_modules

# Build output
build
dist

# Lock files
pnpm-lock.yaml

# Environment variables (security)
.env

# OS files
.DS_Store

# IDE
.vscode


src/core
src/modules/auth
src/modules/cart
src/modules/categories
src/modules/orders
src/modules/products
src/modules/roles

src/config/cors.ts
src/config/env.ts
src/config/jwt.ts
