# Dependencies
node_modules

# Build output
build
dist

# Lock files
pnpm-lock.yaml

# Environment variables (security)
.env

# OS files
.DS_Store

# IDE
.vscode

# Dev
mongodb
baas.md
TODO.md
TYPE_GUIDE.md
#
src/core/utils/longger.ts

#
src/core/middlewares/validate.middleware.ts

src/modules/auth/index.ts


src/modules/cart
src/modules/categories
src/modules/orders
src/modules/products


src/config/cors.ts
src/config/jwt.ts
